.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('../../../src/favicon.ico');
  background-size: cover;
}

.dealCard {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  //width: 80%;
}

.width80 {
  width: 80%;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}
